html, body{
    width: 100%;
    margin: 0;
    padding: 0;
}

th, td{
	border: 1px solid black;
	padding: 10px;
}

table{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 95%;
    margin: auto;
    margin-bottom: 15px;
}

.navbar{
    background-color: black;
}

.navbar ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar a{
    text-decoration: none;
    color: white;
}

.navbar li {
    margin : 10px;
}

.page-content{
    margin: 10px;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

.information {
    margin: 10px;
    padding: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.function-button{
    margin:5px;
    width: 120px;
}

form{
    margin: 15px;
    padding: 15px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.form-title{
    margin: auto;
    text-align: center;
    font-weight: bold;
}